In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing
df = pd.read_html('https://covid19.tangerangkab.go.id/sebaran-data')
df = df[0]
df.columns = df.columns.droplevel(1)
df.set_index('No', drop=True, inplace=True)
df.loc[:, ['Konfirmasi Sembuh', 'Konfirmasi Total', 'Jumlah  (Suspek Dirawat + Konfirmasi Total)']]  = df.loc[:, ['Konfirmasi Sembuh', 'Konfirmasi Total', 'Jumlah  (Suspek Dirawat + Konfirmasi Total)']].astype('str')
df = df.applymap(lambda x: '0' if x == '-' else x)
df.iloc[:, 2:] = df.iloc[:, 2:].apply(lambda x: x.astype('int64'))
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 1 to 29
Data columns (total 8 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Kecamatan                                    29 non-null     object
 1   Suspek Dirawat                               29 non-null     object
 2   Konfirmasi Dirawat                           29 non-null     object
 3   Konfirmasi Isolasi                           29 non-null     object
 4   Konfirmasi Sembuh                            29 non-null     object
 5   Konfirmasi Meninggal                         29 non-null     object
 6   Konfirmasi Total                             29 non-null     object
 7   Jumlah  (Suspek Dirawat + Konfirmasi Total)  29 non-null     object
dtypes: object(8)
memory usage: 2.0+ KB

In [2]:
df

,Kecamatan,Suspek Dirawat,Konfirmasi Dirawat,Konfirmasi Isolasi,Konfirmasi Sembuh,Konfirmasi Meninggal,Konfirmasi Total,Jumlah (Suspek Dirawat + Konfirmasi Total)
No,,,,,,,,
1,BALARAJA,1,5,10,470,17,502,503
2,CIKUPA,1,8,22,669,26,725,726
3,CISAUK,1,2,2,429,8,441,442
4,CISOKA,0,1,9,179,1,190,190
5,CURUG,2,21,85,1926,51,2083,2085
6,GUNUNG KALER,0,0,1,10,0,11,11
7,JAMBE,0,2,2,243,5,252,252
8,JAYANTI,0,0,0,109,2,111,111
9,KELAPA DUA,2,32,55,2502,36,2625,2627
10,KEMIRI,0,0,2,5,1,8,8
11,KOSAMBI,0,1,0,202,9,212,212
12,KRESEK,0,1,0,30,0,31,31
13,KRONJO,0,0,0,93,2,95,95
14,LEGOK,1,4,2,568,10,584,585
15,MAUK,0,1,1,145,5,152,152
16,MEKAR BARU,0,1,0,9,3,13,13
17,PAGEDANGAN,0,3,2,167,17,189,189
18,PAKUHAJI,0,0,9,200,8,217,217
19,PANONGAN,0,0,9,253,5,267,267
20,PASARKEMIS,3,4,101,604,15,724,727
21,RAJEG,2,8,2,363,2,375,377
22,SEPATAN,0,2,0,198,2,202,202
23,SEPATAN TIMUR,1,5,7,280,4,296,297
24,SINDANG JAYA,0,0,0,103,3,106,106
25,SOLEAR,0,0,1,152,1,154,154
26,SUKADIRI,1,1,0,68,2,71,72
27,SUKAMULYA,1,0,0,91,1,92,93
28,TELUKNAGA,0,1,3,281,8,293,293
29,TIGARAKSA,1,2,13,520,10,545,546

In [3]:
 df.to_csv("data_pasien_covid_19_kab_tangerang.csv", index=False)